* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

:root{
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey-300: hsl(233, 8%, 79%);
    --grey-200: hsl(0, 0%, 85%);
    --navy-900: hsl(240, 100%, 5%);
    --navy-600: hsl(236, 13%, 42%);
    --gold-400: hsl(35, 77%, 62%);
    --red-500: hsl(5, 85%, 63%);

    --font-size-56: 56px;
    --font-size-40: 40px;
    --font-size-32: 32px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-15: 15px;
    --font-size-14: 14px;

    --line-height-56: 56px;
    --line-height-40: 40px;
    --line-height-32: 32px;
    --line-height-26: 26px;
    --line-height-24: 24px;

    --letter-spacing-1: 4.36px;

    --spacing-100: 8px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-800: 64px;
    --spacing-1100: 88px;

    
    [data-mobile="inactive"] {
        --mobile-nav-img: url("./assets/images/icon-menu-close.svg");
    }

    [data-mobile="active"] {
        --mobile-nav-img: url("./assets/images/icon-menu.svg");
    }

}

.extra-bold{font-weight: 800;}
.bold{font-weight: 700;}
.regular{font-weight: 500;}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: hsl(36, 100%, 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin-top: var(--spacing-300);
    padding-left: 1rem;
    padding-right: 1rem;
}

.overlay{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(240, 53%, 23%, 0.5);
    opacity: 0.5;
    pointer-events: none;
    visibility: hidden;
    z-index: 1; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--spacing-100);
}

.navbar_hamburger img{
    content: var(--mobile-nav-img);
}

.navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--white);
    z-index: 2;

    list-style: none;
    background-color: var(--white);
}
.navbar_hamburger{
    display: block;
    z-index: 4;
}
.navbar_hamburger img{
    cursor: pointer;
    width: 42px;
    height: 32px;
    object-fit: cover;
     z-index: 4;
}

.grid_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    margin-top: var(--spacing-400);
}
.sidebar{
    grid-area: b;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: 1rem;
}

.new_article{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    border-bottom: 1px solid var(--grey-300);
}
.new_article:nth-last-child(1){
    border: none;
}
.new_article p{
    margin-bottom: 1rem;
}

.topic{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.topic_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
.topic_img{
    width: 100%;
    max-height: 30%;
}
.topic_card-preview{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.topic_card-preview button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--gold-400);
    color: var(--white);
    cursor: pointer;
}
.topic_card-preview button:hover{
    background-color: var(--red-500);
}

.old_articles{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.old_article{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-300);
        width: 100%;
        margin-bottom: 1rem;
    }

    .old_article_img{
        width: 150px;
        height: 100%;
        object-fit: cover;
    }

    .old_article_desc{  
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: var(--spacing-300);
    }

.mobile_navbar{
    position: fixed;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--white);
    z-index: 2;
    display: none;
}

.mobile_navbar_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: var(--spacing-500);
    font-size: var(--font-size-20);
    padding-left: var(--spacing-400);
}

.mobile_navbar_close{
    position: absolute;
    top: var(--spacing-400);
    right: var(--spacing-400);
    cursor: pointer;
}


/* DSKTOP */
@media screen and (min-width: 769px) {
    body{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container{
        max-width: 1112px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        margin-inline: auto;
        margin-inline: var(--spacing-100);
        margin-top: var(--spacing-300);
    }

    .overlay {
        visibility: hidden;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--spacing-100);
    }

.navbar_menu{
    list-style: none;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-400);
    font-size: var(--font-size-18);
}

.navbar_hamburger{
    display: none;
}
.navbar_hamburger img{
    cursor: pointer;
    width: 42px;
    height: 32px;
}
    .grid_content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:    "a a b"
                                "a a b"
                                "c c c";
    }

    .sidebar{
        grid-area: b;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
        border: 1px solid black;
    }

    .topic{
        grid-area: a;
        display: grid;
        grid-template-rows: minmax(220px, 1fr) auto;
        gap: var(--spacing-300);
    }
    .topic_img_wrapper{
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    .topic_img {
        content: url("./assets/images/image-web-3-desktop.jpg");
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
    .topic_card{
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / -1;

        display: flex;
        flex-direction: row;
        gap: var(--spacing-400);
        align-items: center;
    }
    .topic_card-preview{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .topic_card-title{
        width: 50%;
    }

    .old_articles{
        grid-area: c;
        display: flex;
        flex-direction: row;
        gap: var(--spacing-400);
    }
    .old_article{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-300);
        width: 100%;
        margin-bottom: 1rem;
    }

    .old_article_img{
        width: 120px;
        height: 100%;
        object-fit: cover;
    }

    .old_article_desc{  
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mobile_navbar{
        display: none;
    }

}